.styled-text-area {
    -fx-font-size: 11pt;
}

.headline {
	-fx-font-size: 24pt;
	-fx-font-weight: bold;
}

.headline2 {
	-fx-font-size: 20pt;
	-fx-font-weight: bold;
}

.headline3 {
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
}

.headline4 {
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
}

.important {
	-fx-fill: red;
}

.comment {
	-fx-fill: green;
}

.done {
	-fx-fill: lightgray;
}

.questionable {
	-fx-fill: blue;
}

.result {
	-fx-fill: gray;
}

.searched {
	-rtfx-background-color: #a0a0a0;
	-fx-fill: yellow;
}

.regexError {
	-fx-text-fill: red;
}